<p id="flash" style="color: green"><%= notice %></p>

<h1 class="text-base font-semibold leading-6 text-gray-900 mb-4"><%= @riding.name %> - <%= @riding.riding_code %> <%= @riding.province %></h1>

<h1 class="text-base font-semibold leading-6 text-gray-900 mb-4">Polling locations</h1>

<div class="overflow-x-auto">
  <% if @riding.polling_locations.any? %>
    <div class="mx-auto my-8">
      <div class="table font-bold min-w-full grid grid-cols-1 sm:grid-cols-6 gap-4 mb-2 border-b border-gray-300">
        <div class="px-4 py-3.5 text-left text-sm font-semibold text-gray-900">Title</div>
        <div class="px-4 py-3.5 text-left text-sm font-semibold text-gray-900">Address</div>
        <div class="px-4 py-3.5 text-left text-sm font-semibold text-gray-900">City</div>
        <div class="px-4 py-3.5 text-left text-sm font-semibold text-gray-900">Postal Code</div>
        <div class="px-4 py-3.5 text-left text-sm font-semibold text-gray-900">Polls</div>
        <div class="px-4 py-3.5 text-left text-sm font-semibold text-gray-900"></div>
      </div>
      <div id="polling_locations" class="divide-y divide-gray-200">
        <%= render @riding.polling_locations %>
      </div>
    </div>
  <% else %>
    <div class="col-span-5 text-center mt-3">No polling locations</div>
  <% end %>
</div>